@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(/img/BackgroundVisualize.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;

}

main {
    margin-left: 80px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

/*Configurações da sidebar*/
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #161d2a;
    height: 100vh;  
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all .5s;
    min-width: 82px;
    z-index: 999;
}

#sidebar_conteudo {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    
}

#user_infos {
    display: flex;
    flex-direction: column;
    
}

#user_infos span:perfil {
    color: #6b6b6b;
    font-size: 12px;
}

#itens_laterais {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #14398a;
}

.side-item:hover:not(.active),
#sair_btn:hover {
    background-color: #14398a;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#sair{
    border-top: 1px solid #14398a;
    padding: 12px;
}

#sair_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #173f96;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
    color: white;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/*Painel de vendas, despesas e renda*/

.main2 {
    margin-top: 1.4rem;
}

.main2 .data{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem;
}

.main2 .date input[type="date"]{
    background: transparent;
    color: #000;
}

.main2 .conhecimento{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-left: 17rem;
}

.main2 .conhecimento > div{
    background: #fff ;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.main2 .conhecimento > div:hover {
    box-shadow: none;
}

.main2 .conhecimento > div span{
    background-color: #02afc5;
    padding: 0.3rem;
    border-radius: 10%;
    color: white;
    font-size: 2rem;
}

.main2 .conhecimento > div.despesas span{
    background-color: 	#7B2CBF;
}

.main2 .conhecimento > div.renda span{
    background-color: #1466c3;
}

.main2 .conhecimento > div.acessos span{
    background-color: #0000aa;
}

.main2 .conhecimento > div.chart-container span{
    background-color: rgba(255, 99, 132, 1) ;
}

.main2 .conhecimento > div.grafico2 span {
    background-color: #FDB32F;
}

.main2 .conhecimento > div .media{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main2 .conhecimento h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

.main2 .conhecimento .progresso{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.main2 .conhecimento svg {
    width: 7rem;
    height: 7rem;
}

.main2 .conhecimento svg circle{
    fill: none;
    stroke: #02afc5;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

.main2 .conhecimento .vendas svg circle {
    stroke: #02afc5;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.main2 .conhecimento .despesas svg circle {
    stroke: #7B2CBF;
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

.main2 .conhecimento .renda svg circle{
    stroke: #1466c3;
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

.main2 .conhecimento .acessos svg circle {
    stroke: #0000aa;
}


.main2 .conhecimento .progresso .numeros{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2 .conhecimento small {
    margin-top: 1.3rem;
    display: block;
}

@media screen and (max-width: 1200px) {

    .main2 {
        margin-top: 1.4;
    }
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    .main2 .conhecimento{
        grid-template-columns: 1fr;
        gap: 0;
    }
}

.chart-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#rendimentoChart {
    width: 300px;
    height: 300px;
}


